.topnav {
    overflow: hidden;
    background-color: rgb(247, 89, 141)
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    text-align: right;
}
footer div.footer{background-color: rgb(247, 89, 141);}


.footer h4{
color:white;
}
.footer{
    text-align: center;
  
}
/* .footer .fo2{
    text-align: center;
} */
form{
    display: inline-block;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.welcome {
    position: absolute;
    height: 115px;
}
