*{
    box-sizing: border-box;
}


body{
    font-family: Arial;
    padding: 10px;
    background: white;
}
.header{
    padding: 10px;
    text-align: center;
    background: white;
    color: rgb(233, 61, 119);
}

.header h1{
    font-size: 50px;
}
.welcome {
    position: absolute;
    height: 115px;
}
.topnav {
    overflow: hidden;
    background-color: rgb(247, 89, 141)
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a:hover {
    background-color: rgb(88, 146, 88);
    color: pink;
}

.images {
    width: 250px;
    height: 300px;
}

.list {
    width: 100%;
    /* max-width: 1120px; */
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-news{
    width: calc(25% - 30px);
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    color: black;
}

.card-news:hover{
    transition: all .1s linear;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: scale(1.05);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

footer div.footer{background-color: rgb(247, 89, 141);}


.footer h4{
color:white;
}
.footer{
    text-align: center;
  
}
/* .footer .fo2{
    text-align: center;
} */
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    text-align: right;
}
.banner { 
    text-align: center; 
    

}


