.images {
    width: 250px;
    height: 300px;
}

.list {
    width: 100%;
    /* max-width: 1120px; */
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-news{
    width: calc(32% - 30px);
    min-height: 400px;
    background-color: rgb(252, 232, 236);
    padding: 10px;
    text-align: center;
    color: black;
}

.card-news:hover{
    transition: all .1s linear;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: scale(1.05);
}
.topnav {
    overflow: hidden;
    background-color: rgb(247, 89, 141)
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav a:hover {
    background-color: rgb(88, 146, 88);
    color: pink;
}
.box{
    text-align: right;
}
.footer{background-color: rgb(247, 89, 141);}
    .footer h4{
    color:white;
    }
    .footer{
        text-align: center;
      
    }
    /* .footer .fo2{
        text-align: center;
    } */
    *{
        box-sizing: border-box;
    }
    .welcome {
        position: absolute;
        height: 115px;
    }